footer {
<<<<<<< HEAD
    background-color: #00FF00; 
    height: 60px; 
    width: 100%; 
    align-items: center; 
    bottom: 0%; 
    position: absolute;
    display: flex;
    justify-content: center;
}
=======
  background: #00ff00;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
>>>>>>> 2073a08b7eb998838f0757602a9a6299f3d24803
