header {
<<<<<<< HEAD
    background-color:#FF0000; 
    height: 70px; 
    width:100%
}
=======
  background: #ff0000;
  height: 70px;
  width: 100%;
}
>>>>>>> 2073a08b7eb998838f0757602a9a6299f3d24803
